<HeadContent>
    <title>Examples: The Obligatory Counter</title>
</HeadContent>

<div class="flex justify-center">
    <article class="prose">
        <div class="flex justify-center">
            <h2>The Obligatory Counter</h2>
        </div>
    </article>
</div>
<div class="flex justify-center">
    <Counter />
</div>

