<HeadContent>
    <title>Examples</title>
</HeadContent>

<div class="flex justify-center">
    <article class="prose prose-a:link prose-a:link-primary">
        <div class="flex justify-center">
            <h2>Examples</h2>
        </div>
        <div>
            <ul>
                <li>
                    <a href="/examples/counter">The Obligatory Counter</a>
                </li>
            </ul>
        </div>
    </article>
</div>
