<div class="flex justify-center">
    <article class="prose">
        <div class="flex justify-center">
            <h2 class="text-error">We're sorry. Something went wrong :(</h2>
        </div>
        <div class="not-prose">
            <div class="mockup-code mt-5">
                <pre data-prefix=">" class="text-warning"><code>Status Code: @(code)</code></pre>
                <pre data-prefix=">" class="text-warning"><code>Description: @(description)</code></pre>
            </div>
        </div>
    </article>
</div>

@code {
    [Inject] public IHttpContextAccessor HttpContextAccessor { get; set; } = null!;
    private string description = string.Empty;
    private string code { get; set; } = "404";
    protected override void OnInitialized() {
        if (HttpContextAccessor.HttpContext!.Request.Query.ContainsKey("code")) {
            code = HttpContextAccessor.HttpContext!.Request.Query.First(x => x.Key == "code").Value!;
        }
        description = ((HttpStatusCode)Convert.ToInt32(code)).ToString();
    }
}